/* body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.heart {
    height: 200px;
    width: 200px;
    background-color: #ff0000;
    position: relative;
    transform: rotate(-45deg);
}

.heart::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #ff0000;
    top: -50%;
    border-radius: 50%;
}

.heart::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #ff0000;
    right: -50%;
    border-radius: 50%;
} */